@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../imagem/hypnotize.png);
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.topo {
    background-color: #18381d;
    border: 1px solid black;
    display: flex;
    padding-left: 6%;
    padding-top: 1%;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


h1 img {
    margin-top: 10px;
    width: 150px;
}

h1 a {
    border: none;
    display: block;
    text-align: center;
}

nav {
    min-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
    padding-left: 1%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    padding: 3% 0px;
    display: inline-block;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    color: white;
    transition: background-color 1s;
    min-height: inherit;
    padding: 14px 25px;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    background-color: #A98E12;
    color: #000;
    transition: background-color 1s;
    border-radius: 5%;
}

#conteudo {
    max-width: 100%;
    margin: auto;
}

#conteudo p {
    font-size: 1.1em;
}

.titulo {
    font-size: 2em;
    color: #ED6019;
    text-align: center;
    text-transform: uppercase;
}

#destaque {
    max-height: 500px;
    height: 100%;
}

#destaque img {
    border-bottom: 5px dotted #ED6019;
}

.text-destaque h2 {
    font-size: 2em !important;
    margin-top: 5px;
    padding: 5px 0px 3px 50px;
}

.text-destaque p {
    margin-top: 5px;
    font-size: 1.1em;
    padding: 0px 0px 5px 50px;
}

.text-destaque {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    height: 90px;
    bottom: 140px;
    width: 100%;
    margin-top: 5px;
}

#frase {
    color: white;
    background-color: #ED6019;
    text-align: center;
    height: 80px;
}

#frase p {
    font-size: 1.3em;
    padding: 20px;
}

.card {
    margin: 15px 0;
    padding: 5px;
}

.card p {
    text-align: center;
    padding: 1% 0 2% 0;
}

.card-conteudo figure {
    margin: 1%;
    position: relative;
    box-shadow: gray 1px 1px 5px;
    width: 50%;
}

.card-conteudo figcaption {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    background-color: rgba(127, 127, 128, 0.8);
    color: white;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.card-conteudo a img {
    transition: 1s;
    filter: opacity(0.5);
}


.card-conteudo a:hover img,
.card-conteudo a:focus img {
    filter: opacity(1);
}

.card-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#titulo-video {
    color: white;
    padding: 15px;
}

#video {
    width: 100%;
    background-color: rgb(6, 99, 46, 0.5);
    text-align: center;
}

iframe {
    margin: auto;
    max-width: 80%;
    display: block;
    padding: 2% 0%;
}

.conteudo-info {
    padding-top: 20%;
}

.conteudo-info p {
    margin: 12%;
}

#card-pacote {
    background-color: rgb(6, 99, 46, 0.5);
    display: flex;
    padding: 10px;
    text-align: center;
}

.card-pacote-info {
    background-color: white;
    border-radius: 5px;
    padding: 1%;
    box-shadow: gray 1px 1px 5px;
    margin: 1%;
    max-width: 300px;
}

.card-pacote-info h3 {
    text-align: left;
    padding: 1%;
}

.card-pacote-info p {
    text-align: justify;
    padding: 3% 2%;
}

.pac-fotos,
.pac-reserva {
    background-color: #A98E12;
    color: #000;
    width: 80px;
    border-radius: 3px;
    text-align: center;
}

.pac-flex {
    display: flex;
    margin-top: 15px;
}

.pac-fotos a:hover,
.pac-reserva a:hover {
    background-color: #ECDA87;
    color: white;
    transition: backgroud-color 1s;
    border-radius: 5%;
}

.pac-fotos a:link,
.pac-reserva a:link,
.pac-fotos a:visited,
.pac-reserva a:visited {
    color:#000;
    transition: background-color 1s;
    min-height: inherit;
    padding: 1px 8px;
}

.pac-reserva {
    margin-left: 45px;
}

.acessorios{
    display: flex;
    margin: auto;
    width: 88%;
    padding: 15px;
}

.produtos img{
    max-width: 100px;
    border: solid #7f7f80 3px;
    border-radius: 100%;
    box-shadow: gray 1px 1px 5px;
    margin: 10%;
}

.produtos{
    box-shadow: gray 1px 1px 5px;
    text-align: center;
    padding: 20px;
    width: 230px;
    background-color: white;
    margin: 1%;
    border-radius: 5px;
}

.produtos h4{
    color: #ED6019;
    text-transform: uppercase;
}

.img-produto{
    height: 150px;
}

.acesse{
    text-transform: uppercase;
    background-color: #ED6019;
    width: 100px;
    height: 20px;
    padding: 3px;
    margin: 8px auto 0;
    border-radius: 5px;
    color: white;
}

#conteudo-contato{
    display: flex;
}

.cont-contato{
    width: 400px;
    margin: 3px;
}

.fomulario h2, .formulario p, .form{
    text-align: right;
    margin: 1%;
}

.localizacao h2, .localizacao p, .loclizacao iframe{
    text-align: left;
    margin: 1%;
}